<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.systec.noteapp">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <receiver
            android:name=".notifications.NoteReminderReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.systec.noteapp.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.NoteActivity"
            android:label="@string/title_activity_edit"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".noteAppProvider"
            android:authorities="com.systec.noteapp.provider"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".uploader.NoteUploaderJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".backup.NoteBackupService"
            android:exported="false" />
    </application>

</manifest>